<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    <!--navbar-->
    {{>navbar}}
     <!-- main header -->
   {{>header}}
    <!--main section end -->

    {{!-- about us start --}}
   {{>about}}
    {{!-- about us end --}}
     {{!-- service page start --}}
   {{>service}}
    {{!-- service page end --}}

    {{!-- maps page start --}}
   {{>maps}}
    {{!-- maps page end --}}

    {{!-- contact page start --}}
   {{>contact}}
    {{!-- contact page end --}}


</body>
</html>  